html, body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

header {
  font-family: 'Snowburst One', cursive;
  font-size: 460%;
  height: 20%;
}

main {
  height: 80%;
  width: 80%;
  font-family: Avenir;
  font-size: 140%;
  display: flex;
  justify-content: space-around;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.red {
  background-color: #d62d20;
}

.green {
  background-color: #008744;
}

.yellow {
  background-color: #ffa700;
}

li {
  display: inline-block;
  height: 20px;
  border: 1px solid #000;
  margin: 0 3px 0 0;
}

li:nth-child(5n) {
  -webkit-transform: rotate(310deg);
  -moz-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  height: 30px;
  position: relative;
  left: -13px;
  top: 5px;
  margin-right: 10px;
}

table {
  border-collapse: collapse;
  border: none;
  width: 80%;
  height: auto;
  text-align: center;
  empty-cells: show;
}

th {
  background-color: darkGrey;
}

tr {
  background-color: rgb(255, 253, 231);
}

tr:nth-child(2n) {
  background-color: #fdf7ff;
}

button{
  font-family: Avenir;
  border: none;
  margin: 0;
  color: white;
  padding: 1px 10px;
  margin: 2%;
  text-align: center;
  display: inline-block;
  font-size: 100%;
  border-radius: 10px;
  box-shadow: 3px 3px 5px darkGray;
}


.remove{
  background-color: #f44336;
}

.add {
  background-color: #4CAF50;
}

.remove:hover{
  background-color: #a22920;
  box-shadow: 1px 1px 1px darkGray;
}

.add:hover{
  background-color: #38783a;
  box-shadow: 1px 1px 1px darkGray;
}

.delete{
  background-color: black;
  color: white;
}

.delete:hover{
  color: black;
  background-color: white;
  box-shadow: 1px 1px 1px darkGray;
}
